html{
    /*overflow: hidden;*/
}
body{
    /*overflow: hidden;*/
    /*-ms-overflow-style: none;
    overflow: -moz-scrollbars-none;*/
}
body::-webkit-scrollbar {
    display: none;
}
.modal-body{
    padding: 0px;
    border-radius: 10px;
}
.modal-header{
    border-bottom: 0px !important;
}
.deleteModals{
    margin-top: 10%;
    min-width: 360px;
    width: min-content;
}
.singleButtonModals {
    margin-top: 7%;
    min-width: 370px;
}
.featurePreview{
    margin-top: 7%;
    max-width: 715px;
}
/*#ReactTemplatesPage{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
#ReactTemplatesPage::-webkit-scrollbar {
    display: none;
}*/
.navbar-header{
    position: relative !important;
}
.templateWelcomeModal{
    top: 20%;
    transform: translateY(-20%);
}
.templateFetchingModal{
    top: 20%;
    transform: translateY(-20%);
}
.templatePreview {
    width: 860px;
}
@media only screen and (max-width:  737px) {
    .templatePreview{
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: white;
        overflow-y: scroll;
    }
    .templatePreview .modal-content{
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
        padding-bottom: 10px;
    }
    .deleteModals{
        margin-top: 20%;
    }
}
